[submodule "core/lib/lua"]
	path = core/lib/lua
	url = https://github.com/lua/lua
[submodule "core/lib/zlib"]
	path = core/lib/zlib
	url = https://github.com/madler/zlib
[submodule "core/lib/curl"]
	path = core/lib/curl
	url = https://github.com/curl/curl
[submodule "core/lib/parson"]
	path = core/lib/parson
	url = https://github.com/kgabis/parson
[submodule "core/lib/git"]
	path = core/lib/git
	url = https://github.com/libgit2/libgit2
