[submodule "lib/lua"]
	path = lib/lua
	url = https://github.com/lua/lua
[submodule "lib/zlib"]
	path = lib/zlib
	url = https://github.com/madler/zlib
[submodule "lib/curl"]
	path = lib/curl
	url = https://github.com/curl/curl
[submodule "lib/parson"]
	path = lib/parson
	url = https://github.com/kgabis/parson

